# ------
# Server
# ------

HOST=localhost

PORT=3000

# --------
# RunningAppRegistry
# --------

# in-memory, redis
REGISTRY_TYPE=in-memory

# list of strings separated with commas (and maybe spaces)
REGISTRY_IGNORED_APPS=paastis-proxy, foo, bar

# REDIS_URL=redis://redis_db:6379

# ------------
# Start & Stop
# ------------

# cron expression
START_AND_STOP_CHECKING_INTERVAL_CRON=* * * * *

# in minute(s)
START_AND_STOP_MAX_IDLE_TIME=1

# --------
# Scalingo
# --------

SCALINGO_API_TOKEN=tk-us-xxx

# in second(s)
SCALINGO_OPERATION_TIMEOUT=30

# -----
# Hooks
# -----

# HOOKS_BEFORE_START=

# HOOKS_AFTER_START=

# HOOKS_BEFORE_STOP=

# HOOKS_AFTER_STOP=
